body {
    /*margin: 0;*/
    /*padding: 0;*/
    font-family: sans-serif;
    font-weight: bold;
    background: url('file:C:/Users/ПК/IdeaProjects/project/src/main/resources/static/back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.layout {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-gap: 10px;
}

.layout_list {
    background-color: rgba(255,255,255,0.7);
    display: grid;
    /*grid-gap: 5px;*/
    align-self: start;
    border-radius: 4px;
}

.list_card {
    background-color: ghostwhite;
    background: ghostwhite;
    display: grid;
    margin: 6px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px;
    transition: all .2s ease;
}

.card_label {
}

.username {
    margin-top: 15px;
}

.profile {
    position: absolute;
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    top: 10px;
    right: 15px;
    font-size: 14px;
    font-family: sans-serif;
    padding: 12px 16px;
    border-radius: 20px;
    color: #fff;
    background: #3498db;
}

.logout {
    position: absolute;
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 45px;
    right: 15px;
    font-size: 14px;
    font-family: sans-serif;
    padding: 12px 16px;
    border-radius: 20px;
    color: #fff;
    background: crimson;
}

.card_date {
    font-size: 12px;
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 2px 4px;
    margin-top: 4px;
    width: 55px;
    text-align: center;
}

.list_title {
    margin: 5px;
    padding: 2px 4px;
    text-transform: uppercase;
}

.list_card:last-child .card_date:last-child {
    background: springgreen;
}

.list_card:hover {
    transform: scale(1.03);
}

.list_card:first-child {
    margin-top: 50px;
}